body {
  font-family: Inter, system-ui, Arial, sans-serif;
}

/* Links */
.nav-link {
  color: #d1d5db;
}
.nav-link:hover {
  color: #ffffff;
}


/* Section */
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #111, #0b0b0b);
}

.home{
 padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
    width: 100%;
}

/* Text */
.hero-text h1 {
 font-size: 58px;
    font-weight: 700;
    margin-bottom: 12px;
    color: white;
}

.hero-text h1 span {
  color: #3b82f6;
}

.hero-text h3 {
  font-size: 22px;
  color: #cbd5e1;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 16px;
  color: #9ca3af;
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.primary {
  background: #3b82f6;
  color: #fff;
}

.primary:hover {
  background: #2563eb;
}

.btn2{
        display: inline-block;
    background: transparent;
    color: #fff;
    padding: 14px 34px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.out {
  border: 1px solid #3b82f6;
  color: #3b82f6;
  background-color: transparent;
}

.out:hover {
  background: #3b82f6;
  color: #fff;
}

/* Socials */
.socials {
  display: flex;
  gap: 14px;
}

.socials span {
  width: 38px;
  height: 38px;
  border: 2px solid #3b82f6;
  border-radius: 8px;
}

/* Avatar */
.hero-avatar {
  display: flex;
  justify-content: center;
}

.circle-outer {
     width: 360px;
    height: 360px;
  background: radial-gradient(circle at top, #1e3a8a, #111);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-inner {
     width: 270px;
    height: 270px;
  border: 2px solid #3b82f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  font-size: 64px;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }

  .socials {
    justify-content: center;
  }
}


/* Typing */
.typing-text {
  border-right: 2px solid #3b82f6;
  padding-right: 5px;
}


/* ==========================================? */

/* about  */

.about-section {
  padding: 80px 20px;
}

.underline {
  display: block;
  width: 70px;
  height: 4px;
  background: #3b82f6;
  margin: 12px auto 0;
  border-radius: 2px;
}

/* Layout */
.about-content {
  display: flex;
  gap: 60px;
  align-items: center;
}

/* Left Card */
.about-card {
  background: #f7f7f7;
  padding: 40px;
  border-radius: 12px;
  width: 45%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 30px;
}

.info-item h4 {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 600;
}

.info-item p {
  font-size: 15px;
  color: #555;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid #3b82f6;
  margin-top: 6px;
}

/* Right Content */
.about-text {
  width: 55%;
}

.about-text h3 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}

.about-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 18px;
}

/* Skills */
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px 30px;
  margin: 30px 0;
}

.skills div {
  font-size: 15px;
  color: #333;
  display: flex;
  align-items: center;
}

.check {
  width: 12px;
  height: 12px;
  border: 2px solid #3b82f6;
  margin-right: 10px;
}

/* Button */
.btn {
  display: inline-block;
  background: #3b82f6;
  color: #fff;
  padding: 14px 34px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.btn:hover {
  background: #2563eb;
}

/* Responsive */
@media (max-width: 900px) {
  .about-content {
    flex-direction: column;
  }

  .about-card,
  .about-text {
    width: 100%;
  }
}
/* ============================================= */

/* skills  */

/* Section */
.skills-section {
  padding: 90px 20px;
  background: linear-gradient(180deg, #111 0%, #0b0b0b 100%);
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.section-header {
  text-align: center;
  margin-bottom: 70px;
      color: white;
}

.skills-section .container .section-header h2 {
  font-size: 36px;
  font-weight: 700;
      color: white;
}

.underline {
  display: block;
  width: 80px;
  height: 4px;
  background: #3b82f6;
  margin: 14px auto 0;
}

/* Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.skill-card {
  background: #222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.skill-card h3 {
  margin-bottom: 25px;
  font-size: 20px;
      color: white;
}

/* Icon */
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid #3b82f6;
  margin-bottom: 14px;
}

/* Skill */
.skill {
  margin-bottom: 22px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 6px;
      color: white;
}

.progress {
  width: 100%;
  height: 8px;
  background: #444;
  border-radius: 20px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background: #3b82f6;
  border-radius: 20px;
}

/* Responsive */
@media (max-width: 1000px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}


/* ==============================================? */

/* Section */
.projects-section {
  padding: 90px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.section-header {
  text-align: center;
  margin-bottom: 70px;
      color: black;
}

.section-header h2 {
  font-size: 36px;
  font-weight: 700;
  color: black;
}

.underline {
  display: block;
  width: 80px;
  height: 4px;
  background: #3b82f6;
  margin: 14px auto 0;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.project-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 35px rgba(0,0,0,0.12);
}

/* Image */
.project-image {
     height: 240px;
  background: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-icon {
     width: 100%;
    height: 27vh;
  border: 2px solid #aaa;
}

/* Content */
.project-content {
  padding: 24px;
}

.project-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.project-content p {
  font-size: 15px;
  color: #555;
  margin-bottom: 18px;
  line-height: 1.6;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background: #e0ecff;
  color: #2563eb;
  font-size: 13px;
  padding: 6px 14px;
  border-radius: 20px;
}

/* Responsive */
@media (max-width: 1000px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* =================================================== */

/* resume */

/* Section */
.resume-section {
  padding: 90px 20px;
  background: linear-gradient(180deg, #111, #0b0b0b);
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.section-header {
  text-align: center;
  margin-bottom: 70px;
}

.resume-section .container .section-header h2 {
  font-size: 36px;
  color: white;
}

.underline {
  display: block;
  width: 80px;
  height: 4px;
  background: #3b82f6;
  margin: 14px auto 0;
}

/* Grid */
.resume-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* Column */
.column-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
      color: white;
}

.square {
  width: 12px;
  height: 12px;
  border: 2px solid #3b82f6;
}

/* Timeline */
.timeline {
  position: relative;
  padding-left: 25px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #3b82f6;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.dot {
  position: absolute;
  left: -2px;
  top: 15px;
  width: 10px;
  height: 10px;
  background: #3b82f6;
  border-radius: 50%;
}

/* Card */
.card {
  background: #222;
  padding: 24px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.year {
  color: #3b82f6;
  font-size: 13px;
}

.card h4 {
  margin: 10px 0 6px;
  color: white;
    font-size: 1.25rem;

}

.place {
  font-size: 17px;
  color: #ccc;
  margin-bottom: 10px;
}

.desc {
  font-size: 16px;
  color: #aaa;
  line-height: 1.6;
}

/* List */
.card ul {
  padding-left: 18px;
}

.card ul li {
  font-size: 15px;
  color: #aaa;
  margin-bottom: 6px;
}

/* Button */
.resume-btn {
  text-align: center;
  margin-top: 60px;
}

.btn {
  display: inline-block;
  background: #3b82f6;
  color: #fff;
  padding: 14px 34px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #2563eb;
}

/* Responsive */
@media (max-width: 900px) {
  .resume-grid {
    grid-template-columns: 1fr;
  }
}

/* =========================================== */


/* Section */
.testimonials-section {
  padding: 90px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.section-header {
  text-align: center;
  margin-bottom: 70px;
}

.testimonials-section .container  .section-header h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.underline {
  display: block;
  width: 80px;
  height: 4px;
  background: #3b82f6;
  margin: 14px auto 0;
}

/* Grid */
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.testimonial-card {
  background: #f7f7f7;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Avatar */
.avatar {
  width: 70px;
  height: 70px;
  background: #3b82f6;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto 20px;
}

/* Quote */
.quote {
  font-style: italic;
  font-size: 15px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 25px;
}

/* Name & Role */
.testimonial-card h4 {
  font-size: 17px;
  margin-bottom: 4px;
}

.role {
  font-size: 14px;
  color: #777;
}

/* Stars */
.stars {
  margin-top: 12px;
  color: #facc15;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 1000px) {
  .testimonials-grid {
    grid-template-columns: 1fr;
  }
}

/* ============================================ */
/* Section */
.contact-section {
  padding: 90px 20px;
  background: linear-gradient(180deg, #111, #0b0b0b);
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.section-header {
  text-align: center;
  margin-bottom: 70px;
}

.contact-section .container    .section-header h2 {
  font-size: 36px;
  color: white;
}

.underline {
  display: block;
  width: 80px;
  height: 4px;
  background: #3b82f6;
  margin: 14px auto 0;
}

/* Grid */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* Left Info */
.contact-info {
  background: #222;
  padding: 35px;
  border-radius: 12px;
      height: fit-content;
}

.contact-info h3 {
  margin-bottom: 25px;
      color: white;
}

.info-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  background: #1e293b;
  border-radius: 8px;
  border: 2px solid #3b82f6;
}

.info-item small {
  color: #aaa;
  font-size: 13px;
}

.contact-info .info-item p {
  font-size: 16px;
      color: white;
}

.contact-info h4 {
  margin: 30px 0 15px;
      color: white;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials span {
  width: 40px;
  height: 40px;
  background: #1e293b;
  border-radius: 8px;
  border: 2px solid #3b82f6;
}

/* Form */
.contact-form {
  background: #222;
  padding: 35px;
  border-radius: 12px;
}

.contact-form label {
  display: block;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: #3a3a3a;
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  margin-bottom: 18px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #3b82f6;
}

button {
  width: 100%;
  background: #3b82f6;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

/* Responsive */
@media (max-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

/* =============================================== */

/* Footer */
.footer {
  background: linear-gradient(180deg, #111, #0b0b0b);
  padding: 60px 20px 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Grid */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

/* Columns */
.footer-col h3 {
  font-size: 18px;
  margin-bottom: 16px;
      color: white;
}

.footer-col p {
  font-size: 15px;
  color: #bbb;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* Socials */
.socials {
  display: flex;
  gap: 10px;
}

.socials span {
    width: 36px;
    height: 36px;
    border: 1px solid #3b82f6;
    border-radius: 5px;
    background: linear-gradient(45deg, #0f0b45, #106f9d);
    transition: 3s ease-in-out ;
}

.socials span:hover {
    width: 36px;
    height: 36px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    background: linear-gradient(45deg, #0589a0, #110f63);
}

/* Links */
.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #bbb;
  font-size: 15px;
}

.footer-col ul li a:hover {
  color: #3b82f6;
}

/* Contact */
.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}

.icon {
  width: 10px;
  height: 10px;
  border: 2px solid #3b82f6;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid #222;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }

  .contact-item {
    justify-content: center;
  }
}